<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Menirva</h1>
    <p>Talk your way</p>
    <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
    <%= link_to "Phrases", phrases_path, class: "btn btn-success" %>
  </div>
</div>